<h5>Login</h5>

<form #f="ngForm">
  <div class="form-group">
    <div class="input-field col s12">
      <input type="text" class="form-control" [(ngModel)]="usuario.nome" name="usuario" id="usuario"
        placeholder="Usuário" required>
      <label class="active" for="usuario">Usuário</label>
    </div>
  </div>

  <div class="form-group">
    <div class="input-field col s12">
      <input type="password" class="form-control" [(ngModel)]="usuario.senha" name="senha" id="senha"
        placeholder="Password" required>
      <label class="active" for="senha">Senha</label>
    </div>
  </div>

  <button class="btn waves-effect waves-light" type="submit" name="action" [disabled]="!f.valid"
    (click)="fazerLogin()">Login
    <!-- <i class="material-icons right">send</i> -->
  </button>
</form>
